@import url('https://fonts.googleapis.com/css2?family=Rubik:ital,wght@0,300..900;1,300..900&display=swap');
:root{
    --red-gradient:#F53838;
    --bg-white:#F6F6F6;
    --light-red:#FFECEC;
    --text-black:#0B132A;
    --dark-gray:#F8F8F8;
    --white:#fff;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
    font-family: "Rubik", sans-serif;
}
body{
    color: var(--text-black);
}

.container{
    background-color:var(--bg-white);
}


.primary text {
    color:#0B132A;
    font-weight: bolder;
    background: #F53838;
    font-family: Rubik;
    font-size: 20px;
    font-weight: 500;
    line-height: 23.7px;
    text-align: left;
}
span{
    font-family: Rubik;
    font-size: 20px;
    font-weight: 700;
    line-height: 23.7px;
    text-align: left;

}
.flex{
    display: flex;
    align-items: center;
}
nav{
    justify-content: space-between;
    padding: 15px 38px;
}
nav a{
    text-decoration: none;
    font-family: Rubik;
    font-size: 16px;
    font-weight: 400;
    line-height: 18.96px;
    text-align: left;
    color: #4F5665;
}

button{
    border: 1px solid #F53855;
    width: 150px;
    height: 45px;
    top: 45.62px;
    left: 1140px;
    gap: 0px;
    border-radius: 50px ;
    border: 1px 0px 0px 0px;
    opacity: 0px;
    color: var(--red-gradient);
}
button > a{
    color: #F53855;   
}